html, body {

    display: grid;
    place-items: center;
    height: 75%;
    background-color: whitesmoke;

    padding-left: 10%;
    padding-right: 10%;


}

h1,h2 {

    display: grid;
    place-items: center;

    padding: 20px;

    font-size: auto;

    border-color: gray;
    border-width: 15px;
    border-style: inset;

}


.back {

    display: grid;
    place-items: bottom;

}

fieldset {

    font-size: 125%;

}